.site-header {
    background-color: #D32F2F;
    /* Nice red color */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.title {
    font-size: 24px;
}

.title a {
    text-decoration: none;
    color: white;
}

.title a:hover {
    color: #fff4f4;
}

/* Navbar styles */

.navbar {
    height: 100%;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}

.navbar li {
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

/* Navbar dropdown */

.dropdown-content {
    right: 0;
    top: 25px;
    display: none !important;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block !important;
}

.dropdown-content li {
    float: left;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0;
}

.dropdown-content li:hover {
    background-color: #f1f1f1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}

.dropdown>a:after {
    content: " ▼";
}