.new-post {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

.new-post h1 {
    color: #D32F2F;
}

form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin:15px 0; 
}

textarea {
    font-size:20px;
    width: 96% !important;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

 
input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #D32F2F;
    color: white;
    border-color: #D32F2F;
}
