.profile-container {
    min-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    text-align: center;
}

.user-info {
    text-align: left;
    margin: 20px 0;
}

.user-info p {
    line-height: 1.6;
    color: #333;
}

.user-posts {
    display: flex;
    flex-direction: column;
    margin: 3em 0 3em 0;
}

.post {
    margin: 0.5em auto;
}

