@layer components
{
    .custom-sidebar-icon
    {
        @apply relative 
            flex 
            items-center 
            justify-center 
            w-12 
            mt-2 
            mb-2 
            p-4
            mx-auto 
            bg-white 
            text-gray-700 
            shadow-lg 
            hover:bg-gray-800
            hover:text-white
            hover:cursor-pointer
            ;
    }
}