{% block header %}
<!-- Top Header -->
<header class="relative flex justify-between w-full px-6 py-4 text-lg text-white site-header bg-csun-red">

  <!-- Logo -->
  <div class="text-2xl title"><a href="/">CSUConnect</a></div>

  <!-- Hamburger Icon - visible on small screens -->
  <button id="menu-btn" class="block md:hidden hamburger" aria-label="Open Menu">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>

  <!-- Navbar -->
  <nav id="menu" class="hidden md:flex menu-container">
    <ul class="menu-list">
      <!-- Menu items -->
      <li class="menu-item"><a href="/clubs">CLUBS</a></li>
      <li class="menu-item"><a href="/new-event">POST EVENT</a></li>
      {% if user.is_authenticated %}
      <li class="menu-item"><a href="/profile">PROFILE</a></li>
      <li class="menu-item"><a href="/logout">SIGN OUT</a></li>
      {% else %}
      <!-- Login link for unauthenticated users -->
      <li class="menu-item"><a href="/login">LOGIN</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
{% endblock %}

<script>
  document.getElementById('menu-btn').addEventListener('click', function () {
    const menu = document.getElementById('menu');
    if (menu.classList.contains('hidden')) {
      menu.classList.remove('hidden');
      setTimeout(() => {
        menu.style.transform = 'translateY(0)';
        menu.style.opacity = '1';
      }, 10); // Short delay to ensure properties apply
    } else {
      menu.style.transform = 'translateY(-100%)';
      menu.style.opacity = '0';
      setTimeout(() => {
        menu.classList.add('hidden');
      }, 300); // Match the duration of the transition
    }
  });
</script>