{% extends 'base.html' %} 

{% block head %}
<title>OnlyClubs</title>
{% endblock %} 

{% block body %} 
  {% for post in posts %}
  <div class="post">
    <h2 class="post-title">{{ post.title }}<span class="red-stripe"></span></h2>
    <p class="post-author">Posted by {{ post.user.full_name()}}</p>
    <p class="post-content">{{ post.content }}</p>
    <div class="buttons">
      <button class="btn">Read More</button>
      <button class="btn">Join Event</button>
    </div>
  </div>
  {% else %}
  <p>No posts found.</p>
  {% endfor %} 
{% endblock %}
