{% extends 'base.html' %} {% block head %}

<title>New Post</title>
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/newpost.css')}}"
/>

{% endblock %} {% block body %}
<div class="new-post">
  <h1>New Post</h1>

  <form action="/new-post" method="POST">
    <label for="content">Title</label>
    <input type="text" name="title" id="title" />
    <label for="content">Description</label>
    <textarea name="content" id="content" cols="20" rows="10"></textarea>
    <input type="submit" value="Add Post" />
  </form>
</div>
{% endblock %}
