{% extends 'base.html' %}

{% block head %}
<title>New Post</title>
{% endblock %}

{% block body %}
<div class="min-h-screen bg-gray-100 flex items-center justify-center">
  <div class="max-w-lg w-full bg-white p-8 rounded-lg shadow">
    <h1 class="text-2xl font-bold mb-6">New Post</h1>
    <form action="/new-post" method="POST" class="space-y-4">
      <div>
        <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
        <input type="text" name="title" id="title" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" />
      </div>
      <div>
        <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
        <textarea name="description" id="description" rows="5" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" ></textarea>
      </div>
      <div class="mb-4">
        <label for="club" class="block text-sm font-medium text-gray-700">Club</label>
        <input type="text" name="club" id="club" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
      </div>
      <div class="mb-4">
        <label for="location" class="block text-sm font-medium text-gray-700">Location</label>
        <input type="text" name="location" id="location" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm">
      </div>
      
      <div>
        <label for="datetime" class="block text-sm font-medium text-gray-700">Date and Time</label>
        <input type="datetime-local" name="datetime" id="datetime" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm"/>
        <label for="tbd" class="block text-sm font-medium text-gray-700 mt-2">
          <input type="checkbox" id="tbd" name="tbd"> TBD
        </label>
      </div>
      
      <input type="submit" value="Add Post" class="w-full bg-csun-red hover:bg-red-700 text-white font-bold py-2 px-4 rounded cursor-pointer" />
    </form>
  </div>
</div>

<script>
  const datetimeInput = document.getElementById('datetime');
  const tbdCheckbox = document.getElementById('tbd');

  tbdCheckbox.addEventListener('change', function() {
    if (this.checked) {
      datetimeInput.disabled = true;
      datetimeInput.value = ''; // Clear the value if TBD is checked
      datetimeInput.style.opacity = '0.3'; // Gray out input
      datetimeInput.style.pointerEvents = 'none'; // Disable pointer events
      console.log(datetimeInput.all);
    }
    else{
      datetimeInput.disabled = false;
      datetimeInput.style.opacity = '1'; // Restore opacity
      datetimeInput.style.pointerEvents = 'auto'; // Enable pointer events
    }
  });
</script>

{% endblock %}
