<!-- PROFILE PAGE -->

{% extends 'base.html' %}

<!-- Metadata -->
{% block head %}
<title>User Profile</title>
{% endblock %}

{% block body %}

<div class="flex bg-gray-100 min-h-screen pt-20"> <!-- Adjusted for fixed header -->

  <!-- Sidebar -->
  <div class="fixed top-0 left-0 h-screen w-16 m-0 py-3 flex flex-col bg-csun-red text-white text-center shadow-lg z-40"> <!-- Sidebar -->

    <!-- Sidebar Icons -->
    <a href="/">
      <i class="fas fa-home custom-sidebar-icon"></i>
    </a>
    <i class="fas fa-user custom-sidebar-icon"></i>
    <i class="fas fa-bullhorn custom-sidebar-icon"></i>
  </div> <!-- End Sidebar -->

  <!-- User Name Header -->
  <div class="fixed top-0 left-0 right-0 bg-white shadow-md z-30">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-tight text-gray-900">
          {{user.full_name()}}
        </h1>
    </div>
  </div>

  <!-- Main Profile Page Content -->
  <div class="container mx-auto flex flex-wrap pt-4 pb-12">

    <!-- Make a New Event & User Events -->
    <div class="lg:w-3/4 w-full lg:pr-4 pl-20 pt-4"> 
      <!-- Make a New Event -->
      <div class="bg-white p-6 rounded-lg shadow-lg mb-4">
        <h2 class="text-2xl font-semibold mb-4">Post an Event</h2>
        <form action="/new-event" method="POST">
          <div class="mb-4">
            <label for="title" class="block text-sm font-medium text-gray-700">Event Title</label>
            <input type="text" name="title" id="title" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
          </div>
          <div class="mb-4">
            <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
            <textarea name="description" id="description" rows="4" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required></textarea>
          </div>
          <div class="mb-4">
            <label for="club" class="block text-sm font-medium text-gray-700">Club</label>
            <input type="text" name="club" id="club" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
          </div>
          <div class="flex justify-between items-center">
            <button type="submit" class="inline-flex items-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-red-700 active:bg-red-900 focus:outline-none focus:border-red-900 focus:ring ring-red-300 disabled:opacity-25 transition ease-in-out duration-150">Post Event</button>
          </div>
        </form>
      </div> <!-- End Make a New Event -->

      <!-- User Events -->
      <div>
        <h3 class="text-xl font-semibold mb-4">Your Events</h3>
            {% for event in current_user.events %}
              {% include 'event.html' with context %}
            {% else %}
            <p class="text-gray-600">No Events found.</p>
            {% endfor %}
      </div>  <!-- End User Events -->
    </div>

    <!-- Profile Info -->
    <div class="lg:w-1/4 w-full lg:pl-4 pl-20 pt-4"> 
      <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6 flex items-center">
          <i class="fas fa-user-circle text-3xl rounded-full"></i>
          <h3 class="text-lg leading-6 font-medium text-gray-900 ml-4">
            {{ user.full_name() }}
          </h3>
        </div>

        <div class="border-t border-gray-200">
          <dl>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Email
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{ user.email }}
              </dd>
            </div>
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                About
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </dd>
            </div>
          </dl>
        </div>
      </div>
      
      <div class="mt-8 flex space-x-4">
        <a href="#" class="bg-csun-red hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
            Edit Profile
        </a>
        <a href="{{ url_for('auth.logout') }}" class="bg-csun-red hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
          Logout
        </a>
      </div>
    </div> <!-- End Profile Info -->

  </div> <!-- End Main Content Container -->
</div> <!-- End Page Container -->
{% endblock %}
