{% extends 'base.html' %} {% block head %}
<title>Register</title>
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/register.css')}}"
/>
{% endblock %} {% block body %}
<div class="form-container">
  <h2>Register</h2>
  <form action="/register" method="POST">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required />
    </div>
    <div class="form-group">
      <label for="firstname">First name:</label>
      <input type="text" id="firstname" name="firstname" required />
    </div>
    <div class="form-group">
      <label for="lastname">Last name:</label>
      <input type="text" id="lastname" name="lastname" required />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm Password:</label>
      <input
        type="password"
        id="confirm-password"
        name="confirm-password"
        required
      />
    </div>
    <div class="form-actions">
      <button type="submit" class="btn">Register</button>
    </div>
  </form>
</div>
{% endblock %}
